<script>
  import AddAppointment from "@/components/AddAppointment";
  import AppointmentList from "@/components/AppointmentList";
  import SearchAppointments from "@/components/SearchAppointments";
  import axios from 'axios'
  import _ from 'lodash'

  export default {
    name: 'MainApp',
    components: {
      AppointmentList,
      AddAppointment,
      SearchAppointments
    },
    data: function () {
      return {
        appointments: [],
        filterKey: "petName",
        filterDir: "asc",
        searchTerms: "",
        aptIndex: 0
      }
    },
    mounted() {
      axios.get("./data/appointments.json")
        .then(response => (this.appointments = response.data.map(appointment => {
          appointment.aptId = this.aptIndex;
          this.aptIndex++;
          return appointment
        })))
    },
    computed: {
      searchedApts: function () {
        return this.appointments.filter(appointment => {
          return (
            appointment.petName.toLowerCase().match(this.searchTerms.toLowerCase()) ||
            appointment.petOwner.toLowerCase().match(this.searchTerms.toLowerCase()) ||
            appointment.aptNotes.toLowerCase().match(this.searchTerms.toLowerCase())
          )
        })
      },
      filteredApts: function () {
        return _.orderBy(
          this.searchedApts,
          item => {
            return item[this.filterKey].toLowerCase()
          },
          this.filterDir
        )
      }
    },
    methods: {
      changeKey: function (value) {
        this.filterKey = value
      },
      changeDir: function (value) {
        this.filterDir = value
      },
      searchAppointments: function (terms) {
        this.searchTerms = terms;
      },
      removeAppointment: function (apt) {
        this.appointments = _.without(this.appointments, apt)
      },
      editAppointment: function (id, field, text) {
        const aptIndex = _.findIndex(this.appointments, {
          aptId: id
        })
        this.appointments[aptIndex][field] = text
      },
      addAppointments: function (apt) {
        apt.aptId = this.aptIndex
        this.aptIndex++
        this.appointments.push(apt)
      }
    }
  }
</script>

<template>
  <div id="main-app" class="container">
    <div class="row justify-content-center">
      <AddAppointment @add="addAppointments" />
      <SearchAppointments
        @searchRecords="searchAppointments"
        :myKey="filterKey"
        :myDir="filterDir"
        @requestKey="changeKey"
        @requestDir="changeDir" />
      <AppointmentList :appointments="filteredApts" @remove="removeAppointment" @edit="editAppointment" />
    </div>
  </div>
</template>
